@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<FluentCard>
    <h2>Hi Mom!</h2>
    <FluentButton 
        Appearance="@Appearance.Accent" 
        @onclick="IncrementCount">
        Click Me
    </FluentButton>
</FluentCard>

<p role="status">Current count: @currentCount</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
