@inherits LayoutComponentBase

<FluentDesignTheme 
    Mode="DesignThemeModes.Light" 
    OfficeColor="OfficeColor.GroupMe" />
<FluentMainLayout 
    NavMenuTitle="Navigation menu" 
    HeaderHeight="0">
    <Header>
        <FluentEmoji Value="@(new Emojis.Objects.HighContrast.Default.SatelliteAntenna())" />
        <h1>Blazor Server Sample</h1>
        Blazor Server Sample
    </Header>
    <Body>
        @Body
    </Body>
    <NavMenuContent>

        <FluentNavLink 
            Icon="@(new Icons.Regular.Size24.Home())"
            Href="/weather"
            Tooltip="This component demonstrates showing data">
            Weather
        </FluentNavLink>

        <FluentNavLink 
            Icon="@(new Icons.Regular.Size24.ArrowCounterclockwise())"
            Href="/counter"
            Tooltip="counter">
            Counter
        </FluentNavLink>

    </NavMenuContent>
</FluentMainLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

<BlazorError />